:root {
  background-color: #d8d8d8;
  --border-color: rgb(185, 185, 185);
  --border-radius: 6px;
  --black-color: #333;
  --max-with: calc(min(60vh, 95vw));
  --max-height: 600px;
  --max-with-neg: -400px;
  --img-with: 155px;
  --height: 20vh;

  color: var(--black-color);
  font-family: Verdana, sans-serif;
  font-size: 16px;
  --background-color: #d8d8d8;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;

  max-height: 10vh;

  border-bottom: 1px solid var(--border-color);

  background-color: #333333;
}

header h1 {
  color: white;
  font-family: PT SansNarrow, sans-serif;
  font-size: 62px;
  text-align: center;
}

a {
  color: #4c4cd8;
}

.carusel .carusel__item {
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
  z-index: -1;

  display: none;
  overflow: hidden;

  width: var(--max-with);
  height: var(--max-with);

  margin-right: auto;

  /*width: 300px;

   */
  margin-left: auto;

  transition: opacity 0.5s, left 0.5s, transform 0.5s;

  backface-visibility: hidden;
  background: center no-repeat;
  background-size: contain;
  opacity: 0;
  text-align: center;
  will-change: transform;
}
.carusel input {
  display: none;
}

.carusel label {
  position: absolute;
  top: calc(40vh + var(--max-height));
  left: 50vh;

  display: none;
}

.carusel input:checked + label + label + label + div + input + label {
  position: absolute;
  left: calc(50% - var(--img-with) * 2);
  z-index: 1;

  display: block;
}

.carusel input:checked + label + label + label + div + input + label img {
  width: var(--img-with);

  border-radius: 70%;

  background-color: white;
  box-shadow: 0 0 20px black;
}

.carusel input:checked + label + label + label + div + input + label + label {
  position: absolute;
  left: calc(50% - var(--img-with) / 2);

  display: block;
}

.carusel input:checked + label + label + label + div + input + label + label img {
  width: var(--img-with);

  border-radius: 70%;

  background-color: white;
  box-shadow: 0 0 20px black;
}

.carusel input:checked + label + label + label + div + input + label + label + label {
  position: absolute;
  left: calc(50% + var(--img-with));

  display: block;
}

.carusel input:checked + label + label + label + div + input + label + label + label img {
  width: var(--img-with);

  border-radius: 70%;

  background-color: white;
  box-shadow: 0 0 20px black;
}

.carusel {
  position: relative;

  max-width: var(--max-with);

  height: var(--max-with);
  margin: 20px auto;

  text-align: center;

  user-select: none;
}

.carusel .carusel__img {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 100%;
  margin-right: -50%;

  transform: translate(-50%, -50%);

  vertical-align: middle;
}
/*
.list:checked ~ .carusel input {
  position: absolute;
  top: 400px;
}
*/

.carusel input:checked + label + label + label + div .carusel__item {
  left: 0;
  z-index: 2;

  display: block;

  transform: scale(1);

  box-shadow: 0 0 40px black;

  opacity: 1;
}

.carusel__item .description {
  color: white;
  font-size: 30px;
  text-align: left;
}

.carusel input:checked + label + label + label + div .carusel__item .description {
  position: absolute;
  bottom: 0;
  left: 10vw;
  z-index: 3;

  display: block;

  text-shadow: 10px 10px 20px black;
}

.carusel .box:after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  box-shadow: inset 0 -200px 100px 0 #000;
  content: '';
  opacity: 0.7;
}

.end {
  align-content: center;

  font-size: 62px;
  font-weight: normal;
}
